/* default button style start */
.btn {
  display: inline-block;
  min-height: 32px;
  min-width: 32px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px;
  background-color: var(--color-button-background);
  color: var(--color-button-primary);
  position: relative;
  overflow: hidden;
}

.btn:not(.iconBtn):before,
.btn:not(.iconBtn):after {
  position: absolute;
  content: '';
  width: 0;
  height: 50%;
  box-sizing: border-box;
  transition: width 0.3s ease;
  opacity: 0.3;
}

.btn:before {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: var(--color-button-light-fade);
  top: 0;
  left: 0;
}

.btn:after {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--color-button-dark-fade);
  bottom: 0;
  right: 0;
}

.btn:hover:before,
.btn:hover:after,
.btn:focus:before,
.btn:focus:after {
  width: 100%;
}

.btn:hover,
.btn:not(.iconBtn):focus {
  cursor: pointer;
  outline: none;
}

.btn:hover .content,
.btn:focus .content {
  position: relative;
  color: var(--color-accent);
  z-index: 2;
}

.btn:not(.iconBtn) .btnBefore,
.btn:not(.iconBtn) .btnAfter {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: solid #000;
  border-width: 0;
  border-radius: 0;
  transition: 0;
  box-sizing: border-box;
  border-color: var(--color-accent);
  border-radius: 5px;
}

.btn .btnBefore {
  right: 0;
  bottom: 0;
}

.btn .btnAfter {
  left: 0;
  top: 0;
}

.btn:hover .btnBefore,
.btn:focus .btnBefore {
  border-width: 0 0 1px 1px;
}

.btn:hover .btnAfter,
.btn:focus .btnAfter {
  border-width: 1px 1px 0 0;
}

.btn:hover .btnAfter,
.btn:hover .btnBefore,
.btn:focus .btnAfter,
.btn:focus .btnBefore {
  height: 100%;
  width: 100%;
  transition: width 0.3s ease, height 0.3s ease 0.2s,
    border-top-right-radius 0.1s ease 0.3s,
    border-bottom-left-radius 0.1s ease 0.3s,
    border-bottom-right-radius 0.1s ease 0.3s,
    border-top-left-radius 0.1s ease 0.3s;
}
/* default button style end */

/* icon only button style start */
.btn.iconBtn {
  background-color: transparent;
  color: var(--color-button-primary);
  padding: 8px 10px;
}

.btn:hover.iconBtn,
.btn:focus.iconBtn {
  color: var(--color-accent);
}
/* icon only button style end */

/* anchor button style start */
.anchor {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--color-accent),
    var(--color-accent),
    50%,
    var(--color-button-primary) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anchor:before {
  content: '';
  background: var(--color-accent);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.anchor:hover,
.anchor:focus {
  background-position: 0;
  outline: none;
}

.anchor:hover::before,
.anchor:focus::before {
  width: 100%;
}
/* anchor button style end */
