header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navLinks {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navLinks ul,
.account {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 24px;
}

.navLinks ul {
  column-gap: 24px;
}

.navFlyout {
  display: none;
}

.account {
  column-gap: 8px;
}

.logo {
  margin-inline-end: 30px;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.icon {
  width: 22px;
  height: 22px;
  color: var(--color-button);
}

.sideNav {
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  padding: 40px 16px;
  transition: 250ms ease-out;
  border-right: 2px solid var(--color-card-background);
}

.sideNav.open {
  left: 0;
  transition: 250ms ease-out;
}

.sideNav ul {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  list-style-type: none;
  padding-inline-start: 40px;
}

.sideNav ul li {
  font-size: 18px;
  color: var(--color-primary);
}

.closeBtn {
  margin-left: auto;
  margin-inline-end: 40px;
  margin-bottom: 40px;
}

.closeBtn .icon {
  width: 24px;
  height: 24px;
}

.social {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  padding-inline-start: 36px;
  height: calc(100% - 20px);
  justify-content: center;
}

@media screen and (max-width: 680px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .navLinks {
    display: none;
  }

  .navFlyout {
    display: block;
  }
}
