header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navLinks {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navLinks ul,
.account {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 24px;
}

.navLinks ul {
  column-gap: 24px;
}

.navFlyout {
  display: none;
}

.account {
  column-gap: 8px;
}

.logo {
  margin-inline-end: 30px;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.icon {
  width: 22px;
  height: 22px;
  color: var(--color-button);
}

@media screen and (max-width: 680px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .navLinks {
    display: none;
  }

  .navFlyout {
    display: block;
  }
}
