.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-primary);
  box-sizing: border-box;
}

.wrapper {
  width: 1400px;
  height: 100%;
}

.filter-section {
  display: flex;
  flex-direction: column;
  padding: 0 140px;
}

.divider {
  width: 1120px;
  height: 2px;
  margin: 20px 0;
  background-color: var(--color-card-background);
}

section {
  padding: 36px 0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;
}

.catalog-row {
  display: flex;
  flex-direction: column;
}

.catalog-row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
}

.catalog-header {
  margin-inline-start: 140px;
  margin-top: 0;
  margin-bottom: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 44px;
}

.social {
  display: flex;
  column-gap: 36px;
  margin-top: 40px;
}

.social .icon {
  width: 22px;
  height: 22px;
}
