:root {
  font-family: 'Poppins', sans-serif;

  --color-primary: #ffffff;
  --color-secondary: #6f7075;
  --color-accent: #54b3d6;

  --color-background: #15181d;

  --color-button-primary: #f2f2f2;
  --color-button-background: #313131;
  --color-button-light-fade: #686868;
  --color-button-dark-fade: #515151;

  --color-card-background: #1e2127;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-primary);
  overflow: auto;
}

body.sideNavOpen {
  overflow: hidden;
}
