:root {
  font-family: 'Poppins', sans-serif;

  --color-primary: #ffffff;
  --color-background: #15181d;
  --color-button-primary: #57585b;
  --color-button-background: #2b2e34;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
